<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" type="image/ico" href="~/Image/logo.ico" />
    <title>@ViewBag.title·一起帮</title>
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/content.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <style type="text/css">                        
        #hr{
            width:100%;
        }
       .help{
           position:fixed;
           right:5%;
           bottom:12%;
       }
       .help li{
           border:1px solid;
           margin:2px;
           padding:2px;
           background-color:rgb(51,122,183);
           list-style:none;
       }
    </style>
</head>
<body>
    <div class="navbar">
        <span class="navbar-logo">
            <img src="~/images/logo-big.ico" />
        </span>
        <span class="websit-name"><b>一起帮</b></span>
        <span>· 网络互助平台</span>
        <ul>
            <li class="drop-down">
                <a href="#">求助</a>
                <ul class="drop-down-content">
                    <li class="drop-down-header">督导班</li>
                    <li>疑问发布</li>
                    <li>疑问列表</li>
                    <li class="divider"></li>
                    <li>列表</li>
                    <li>发布</li>
                </ul>
            </li>
            <li class="drop-down">
                <a href="#">督促</a>
                <ul class="drop-down-content">
                    <li class="drop-down-header">求督促</li>
                    <li>督促别人</li>
                    <li>我的目标</li>
                    <li>我的督促</li>
                    <li>未交作业</li>
                    <li>交作业</li>
                </ul>
            </li>
            <li class="drop-down">
                <a href="#">文章</a>
                <ul class="drop-down-content">
                    <li>列表</li>
                    <li>开通</li>
                </ul>
            </li>
            <li class="drop-down">
                <a href="#">APP下载</a>
                <ul class="drop-down-content">
                    <li>Android</li>
                    <li>ios（越狱）</li>
                </ul>
            </li>
            <li class="drop-down">
                <a href="#">未登录</a>
                <ul class="drop-down-content">
                    <li>登陆</li>
                    <li>注册</li>
                    <li>忘记密码</li>
                </ul>
            </li>
            <li>后台</li>
        </ul>
    </div>
    <div class="content">
        @RenderBody()
    </div>
    <div class="help">
        <ul>
            <li><a href="#">帮助</a></li>
            <li><a href="#">反馈</a></li>
        </ul>
    </div>
    <div class="footer">
        <hr id="hr" />
        <p>
            <a href="#">关于我们 |</a>
            <a href="#">常见问题 |</a>
            <a href="#">意见建议 |</a>
            <a href="#">历史通知 |</a>
            <a href="#">友情捐赠 |</a>
            <a href="#">融资2018 </a>
        </p>
        <p>友情链接:</p>
        <p id="float-right"><a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>&copy; 2019 - 首顾科技</p>
    </div>

</body>
</html>