<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/ico" href="~/Image/logo.ico" />
    <title>注册·一起帮</title>
    <style type="text/css">
        #right {
            float: right;
        }

        #left {
            float: left;
        }
    </style>
</head>
<body>
    <div>
        <img src="~/images/logo-big.ico" />
        <span><b>一起帮</b></span>
        <span>· 网络互助平台</span>
    </div>
    <div>
        <ul>
            <li>
                <select>
                    <option>求助</option>
                    <option>疑问发布</option>
                    <option>疑问列表</option>
                    <option>列表</option>
                    <option>发布</option>
                </select>
            </li>
        </ul>
    </div>
    @RenderBody()
</body>
</html>