<!Doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/images/logo.ico" />
    <title>@ViewBag.title·一起帮</title>
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <link href="~/css/common.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/content.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <style type="text/css">
        .message {
            clear: both;
            margin-top: 68px;
            background-color: #eee;
            padding: 5px 20px;
        }
            .message a {
                color: #31708f;
                text-decoration: none;
            }
            .message>a{
                float:right;
            }
        .help {
            position: fixed;
            right: 5%;
            bottom: 12%;
        }

        .help li {
                border: 1px solid;
                margin: 2px;
                padding: 2px;
                background-color: rgba(128,255,212,0.7);
                list-style: none;
                border-radius: 4px;
            }

        .contain {
            margin-left: 200px;
            margin-right: 100px;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span class="navbar-logo">
            <img src="~/images/logo-big.ico" />
        </span>
        <span class="websit-name"><b>一起帮</b></span>
        <span>· 网络互助平台</span>
        <ul>
            <li class="drop-down">
                <span>求助</span>
                <ul class="drop-down-content">
                    <li class="drop-down-header">督导班</li>
                    <li><a href="#">疑问发布</a></li>
                    <li><a href="#">疑问列表</a></li>
                    <li class="divider"></li>
                    <li><a href="#">列表</a></li>
                    <li><a href="#">发布</a></li>
                </ul>
            </li>
            <li class="drop-down">
                <span>督促</span>
                <ul class="drop-down-content">
                    <li class="drop-down-header">求督促</li>
                    <li><a href="#">督促别人</a></li>
                    <li><a href="#">我的目标</a></li>
                    <li><a href="#">我的督促</a></li>
                    <li><a href="#">未交作业</a></li>
                    <li><a href="#">交作业</a></li>
                </ul>
            </li>
            <li class="drop-down">
                <span>文章</span>
                <ul class="drop-down-content">
                    <li><a href="#">列表</a></li>
                    <li><a href="#">开通</a></li>
                </ul>
            </li>
            <li class="drop-down">
                <span>APP下载</span>
                <ul class="drop-down-content">
                    <li><a href="#">Android</a></li>
                    <li><a href="#">ios(越狱)</a></li>
                </ul>
            </li>
            <li class="drop-down">
                <span>未登录</span>
                <ul class="drop-down-content">
                    <li><a href="#">登陆</a></li>
                    <li><a href="#">注册</a></li>
                    <li><a>忘记密码</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="message contain">
        <span>文章的评论<a href="#">深有感触，学了数据结构感觉整个人很懵逼</a>被<a href="#">叶飞</a>赞，获得<a href="#">帮帮点</a>奖励6点</span>
        <a href="#">全部消息</a>
    </div>
    <div class="content contain">
        @RenderBody()
    </div>
    <aside class="help">
        <ul>
            <li><a href="#">帮助</a></li>
            <li><a href="#">反馈</a></li>
        </ul>
    </aside>
    <footer class="footer contain">
        <p>
            <a href="#">关于我们 |</a>
            <a href="#">常见问题 |</a>
            <a href="#">意见建议 |</a>
            <a href="#">历史通知 |</a>
            <a id="link-donate" href="#">友情捐赠 |</a>
            <a href="#">融资2018 </a>
        </p>
        <p>友情链接:</p>
        <p id="float-right"><a href="http://www.miitbeian.gov.cn">渝ICP备18007191号（备案）</a>&copy; 2019 - 首顾科技</p>
    </footer>

</body>
</html>