body {
}

.content {
    margin: 5px;
    /* position: relative;
    top: 100px;*/
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
    .content .content-right {
        /*position:relative;
    left:500px;
    bottom:200px;*/
     margin-left:250px;
     line-height:30px;
     height:600px;
     float:left;
     width:500px;
    }
    .content .content-left {
        /*position:relative;*/
        float:left;
        margin-left:100px;
        padding-left:8px;
       
    }
button {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    width: 54px;
    background-color:white;
}
input[type="text"] {
    width: 360px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
}
.page-header {
    margin-top: 80px;
    margin-left:115px;
    font-size:30px;
    font-family:inherit;
    padding-bottom:20px;
    border-bottom:1px solid #eee;
   
}

.content form>p{
    line-height:27px;
}

.invite {
    border: 2px dashed #eee;
    background-color: rgb(255,255,224);
    padding: 0 10px 0 10px;
    height: 182px;
    margin-top: 30px;
}

#invite-why {
    float: right;
    font-size: 14px;
    text-decoration: none;
    padding-top: 2px;
}
.invite input[type="text"]{
    width:336px;
    height:34px;      
}

.forget{
    float:right;
}

.pull-right{
    float:right;
}
