

.content {
    margin: 5px;
    /* position: relative;
    top: 100px;*/
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
    .content .content-right {
        /*position:relative;
    left:500px;
    bottom:200px;*/
        /*margin-left: 250px;*/
        line-height: 30px;
        /*height: 600px;*/
        /*float:left;
     width:500px;*/
    }
    .content .content-left {
        /*position:relative;*/
        /*float:left;*/
        /*margin-left: 100px;
         padding-left: 8px;*/
    }
button {
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 34px;
    width: 54px;
    background-color:white;
}
input[type="text"] {
    width: 360px;
    height: 34px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
button[type="submit"] {
    background-color: #337ab7;
    color: #fff;
}
.page-header {
    margin-top: 40px;
    font-size:30px;
    font-family:inherit;
    padding-bottom:20px;
    border-bottom:1px solid #eee;
   
}

.content form>p{
    line-height:27px;
}
/*Register*/
.invite {
    border: 2px dashed #eee;
    background-color: rgb(255,255,224);
    padding: 0 10px 0 10px;
    height: 182px;
    margin-top: 30px;
    width:336px;
}

#invite-why {
    float: right;
    font-size: 14px;
    text-decoration: none;
    padding-top: 2px;
}
.invite input[type="text"]{
    width:336px;
    height:34px;      
}

.forget{
    float:right;
    padding-right:30px;
}

.pull-right{
    float:right;
}

/*FirstProblem*/
.FirstProblem ul{
    padding:0px;
    padding-right:55px;
}
.newbie-task {
    border: 2px dashed #eee;
    background-color: #ffffe0;
    border-radius: 4px 5px;
    margin: 0 0 30px;
    padding: 0 15px;
    line-height:1.43;
}

.newbie-task p{    
    font-size:14px;
}

 .newbie-task p > a {
        color:#31708f;
 }

#aim {
    font-size: 65%;
    text-decoration: none;
    color: #777;
    margin: 5px;
}
#wait {
    float: right;
    text-decoration: none;
    color: rgb(51,122,183);
    font-size: 14px;
}
.img-responsive {
    clear: both;
    margin: 15px 0;
    border: 1px solid;
    height: 200px;
}
.user-show {
    margin-top: 10px;
    font-size: 14px;
    
}
    .user-show label {
        margin-right: 10px;
        font-weight: bold;
        display: inline-block;
    }
    .user-show>#row1 span {
        margin-right: 15px;
        color: rgb(51,122,183);
    }
    .user-show > #row1 a {
        color: rgb(51,122,183);
        text-decoration:none;
    }
    .user-show >#row3 p{
        margin-top:0px;
    }
    .user-show > #row3 a {
        padding: 0 5px;
        margin-right: 8px;
        border-radius: 10px;
        text-decoration: none;
        background-color: #777;
        color: #fff;
    }

/*Problem*/

.problem-main{
    margin-top:50px;
}
#display-none {
    float: left;
    border-left: 6px solid gray;
    padding-left: 30px; 
}
#display-only {
    margin-left: 200px;
    padding-left: 150px;
}
.flex-container {
    clear: both;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

    .flex-container p span {
        background-color: #777;
        font-size: 12px;
        color: white;
        border-radius: 10px;
        padding: 3px 8px;
    }

.flex-item{
    margin:5px;
}

.problem-name{
    color:black;
    font-size:24px;
}
.problem-status {
    margin-bottom: 15px;
}
.problem-status span {
    /* font-size:70%; */
    background-color: #5bc0de;
    padding: 5px;
    border-radius: 10px;
}

.problem-time-questioner a{
    float:right;
}

.problem-time-questioner {
    font-size: 14px;
}
.problem-result {
    display: flex;
    width: 33%;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pagination {
    display: flex;
    padding-left: 15px;
}
    .pagination li {
        padding: 4px 12px;
        border: 1px solid #eee;
    }
    .pagination li:hover {
        background-color: #eee;
    }
    .pagination li:first-child, hover {
        background-color: #337ab7;
    }

.keywords {
    border: 1px dashed #ccc;
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}

    .keywords a[title^="已使用"] {
        margin: 5px 20px 5px 0;
        /* margin-bottom: 15px; */
        background-color: rgba(51,51,51,0.875);
        font-size: 19.5px;
        color: white;
        padding: 3px 5px;
        border-radius: 10px;
        display: inline-block;
    }

#keywords-query {
    display: inline-flex;
}

    #keywords-query input {
        width: 70%;
        height: 30px;
        border-radius: 4px 0 0 4px;
        margin-right: 0px;
    }

    #keywords-query span {
        border: 1px solid #ccc;
        padding: 5.81px;
        margin-left: 0px;
        border-left-width: 0px;
        border-radius: 0 4px 4px 0;
        background-color: #eee;
    }

    #keywords-query + a {
        float: right;
        border: 1px solid #eee;
        padding: 5px 12px;
        border-radius: 4px;
        color: black;
    }

.infobar {
    border: 1px solid #eee;
    margin: 15px;
    padding:15px;
}

    .infobar li {
        display: inline-block;
        padding: 0 8% 10px 0px;
        font-size: 18px
    }

    .infobar tr {
        line-height: 34px;
    }

.fine-article {
    margin: 15px;
    padding: 15px;
    border: 1px dashed #ccc;
}

.advertising {
    margin: 15px;
    line-height: 23px;
    border: 1px dashed #ccc;
}

/*ProblemIndex*/
#problem-help {
    margin-left: 400px;    
    /* display: flex; */
    width: 95px;
    height: 65px;
    text-align: center;
    background-color: #5cb85c;
    color: white;
}

.problem-summary {
    margin-top: 22px;
}

    .problem-summary header {
        display: inline-block;
        font-size: 22px;
    }

    .problem-summary a {
        float: right;
    }

    .problem-summary div {
        border: 1px dashed #ccc;
        padding: 10px;
        font-size: 14px;
        margin-top: 8px
    } 