
/******************************************************Coomon*****************************************************************/


/******************************************************Logon*****************************************************************/
.website-show {
    margin-bottom: 8px;
}
#confirmCode {
    width: 18%;
}
/*****************************************************Register*****************************************************************/
.invite {
    border: 2px dashed #eee;
    background-color: rgb(255,255,224);
    padding: 0 10px 0 10px;
    height: 182px;
    margin-top: 30px;
}

.invite input[type="text"] {
        width: 90%;
        height: 34px;
}

