

.footer {
    /*position: relative;
    bottom:-200px;*/
    clear: both;
    margin: 5px;
    text-decoration: none;
    /*border-top: 1px solid #eee;*/
    padding-top: 18px;
}

#footer-divider {
    border: 1px solid #eee;
}
.footer a {
    text-decoration: none;
    color: #337ab7;
}
    .footer p {
        margin: 2px;
        font-size: 14px;
    }
#float-right{
    float:right;
}
#link-donate {
    color: #3c763d;
}
