
@{
    Layout = "_Layout";
    ViewBag.Title = "首次求助测试";
}
<div class="contain">
    <div class="message">
        <span>文章的评论<a href="#">深有感触，学了数据结构感觉整个人很懵逼</a>被<a href="#">叶飞</a>赞，获得<a href="#">帮帮点</a>奖励6点</span>
        <a href="#">全部消息</a>
    </div>
    <h2 class="page-header">首次求助测试<a id="aim" href="#">目的</a></h2>
    <main class="content-left FirstProblem col-9">
        <form>
            <ul>
                <li>
                    <h5>1、以下哪一种求助是“一起帮”鼓励的：</h5>
                    <ul>
                        <li><label><input type="radio" />如何看待42岁程序员跳楼事件？（社会热点问题）</label></li>
                        <li><label><input type="radio" />讲一讲你是怎么自学JAVA的吧？（开放式问题）</label></li>
                        <li><label><input type="radio" />HTTP协议的底层原理是什么？（原理性问题）</label></li>
                        <li><label><input type="radio" />Excel按时间分段排序无法实现（具体的、事务性的，使用远程协助能最快解决的问题）</label></li>
                    </ul>
                </li>
                <li>
                    <h5>2 、以下哪一个求助的标题最为恰当：</h5>
                    <ul>
                        <li><label><input type="radio" />Excel的问题</label></li>
                        <li><label><input type="radio" />跪求一看：打不开文件了</label></li>
                        <li><label><input type="radio" />修改网上商城的源代码</label></li>
                        <li><label><input type="radio" />本地无法连接Mysql数据库（之前正常，且已排除网络问题）</label></li>
                    </ul>
                </li>
                <li>
                    <h5>3 、求助的描述，应该：</h5>
                    <ul>
                        <li><label><input type="checkbox" />清晰扼要</label></li>
                        <li><label><input type="checkbox" />说明问题的背景，以及已经采取的措施和结果</label></li>
                        <li><label><input type="checkbox" />最好能图文并茂</label></li>
                        <li><label><input type="checkbox" />随便写写就行，反正都要远程协助</label></li>
                    </ul>
                </li>
                <li>
                    <h5>4 、分割关键字使用的是：</h5>
                    <ul>
                        <li><label><input type="checkbox" />逗号</label></li>
                        <li><label><input type="checkbox" />空格</label></li>
                        <li><label><input type="checkbox" />句号</label></li>
                        <li><label><input type="checkbox" />冲锋号</label></li>
                    </ul>
                </li>
                <li>
                    <h5>5 、发布求助时如果勾选“据实结算”，以下说法正确的是：</h5>
                    <ul>
                        <li><label><input type="checkbox" />系统会从“求助人”点击“开始协助”开始计时</label></li>
                        <li><label><input type="checkbox" />每一分钟消耗一枚“帮帮币”</label></li>
                        <li><label><input type="checkbox" />直到你的“帮帮币”被扣完为止……</label></li>
                        <li><label><input type="checkbox" />扣除的“帮帮币”不会超过你设置的悬赏金额</label></li>
                    </ul>
                </li>
                <li>
                    <h5>6 、一个求助的正常流程是：</h5>
                    <ul>
                        <li><label><input type="radio" />（求助人）发布求助，（好心人）应答，over</label></li>
                        <li><label><input type="radio" />（求助人）发布求助，（好心人）应答，（好心人和求助人）开始远程协助，over</label></li>
                        <li><label><input type="radio" />求助人）发布求助，（好心人）应答，（求助人）确认开始协助，（好心人和求助人）开始远程协助，over</label></li>
                        <li><label><input type="radio" />求助人）发布求助，（好心人）应答，（求助人）确认开始协助，（好心人和求助人）开始远程协助，（求助人）酬谢和评价，（好心人和求助人）写总结，over</label></li>
                    </ul>
                </li>
                <li>
                    <h5>7 、开始协助的按钮在应答的旁边，是哪一个以下图标：</h5>
                    <ul>
                        <li><label><input type="checkbox" /></label></li>
                        <li><label><input type="checkbox" /></label></li>
                        <li><label><input type="checkbox" /></label></li>
                        <li><label><input type="checkbox" /></label></li>
                    </ul>
                </li>
                <li>
                    <h5>8 、如果求助人认为问题没有解决，可以拒绝全额酬谢。拒绝全额酬谢会导致：</h5>
                    <ul>
                        <li><label><input type="checkbox" />好心人得不到帮帮币奖励</label></li>
                        <li><label><input type="checkbox" />好心人只能得到该求助悬赏金额一半（取整）的帮帮币奖励</label></li>
                        <li><label><input type="checkbox" />求助重新开放，好心人可以等待或选择其他好心人“开始协助”</label></li>
                        <li><label><input type="checkbox" />拒绝酬谢被系统记录统计并予以公开显示</label></li>
                    </ul>
                </li>
                <li>
                    <h5>9 、虽然求助的问题得到了解决，但该过程并非全是好心人的功劳，或者有其他不满意的地方，“一起帮”建议求助人：</h5>
                    <ul>
                        <li><label><input type="checkbox" />拒绝全额酬谢</label></li>
                        <li><label><input type="checkbox" />还是算了，和为贵</label></li>
                        <li><label><input type="checkbox" />给予全额酬谢，但同时给予适当的评价</label></li>
                        <li><label><input type="checkbox" />给他个全额酬谢，再画个小圈圈咒死他，<(｀^´)></label></li>
                    </ul>
                </li>
                <li>
                    <h5>10 、关于总结，以下说法正确的是：</h5>
                    <ul>
                        <li><label><input type="checkbox" />只有在求助被撤销或酬谢之后才能发总结</label></li>
                        <li><label><input type="checkbox" />只有求助人和好心人才能发总结</label></li>
                        <li><label><input type="checkbox" />别人查看你的总结，你会获得帮帮点</label></li>
                        <li><label><input type="checkbox" />总结只能被查看过的用户评价和评论</label></li>
                    </ul>
                </li>
            </ul>
            <button type="submit">提交</button>
            <button type="reset">重填</button>
        </form>

    </main>
    <aside class="content-right col-3">
        <div class="newbie-task">
            <h4>新手任务</h4>
            <hr>
            <p>填写:<a href="#">联系方式</a></p>
            <p>激活:<a href="#">Email</a></p>
            <p>邀请:<a href="#">我的小伙伴</a></p>
            <p>参加:<a href="#">新人测试</a></p>
            <p>发布:<a href="#">第一个求助</a></p>
            <p>尝试:<a href="#">第一次协助</a></p>
            <p>获得:<a href="#">若干帮帮币</a></p>
        </div>
        <a id="wait" href="#">修改</a>
        <div class="img-responsive">
            <div class="wait">
                等待上传中
            </div>
        </div>
        <div class="user-show">
            <div id="row1">
                <label>用户：</label>
                <span>常醉风</span>
                <a href="#">修改</a>
            </div>
            <div id="row2">
                <label>性别：</label>
                <span>男</span>
            </div>
            <div id="row3">
                <label>关注：</label>
                <p><a href="#">C#</a><a href="#">编程开发语言</a></p>
            </div>
        </div>
    </aside>
</div>
