
@{
    Layout = "_Layout1";
    ViewData["Title"] = "LogOn";
}

<div class="container">
    <div class="message">
        <span>文章的评论<a href="#">深有感触，学了数据结构感觉整个人很懵逼</a>被<a href="#">叶飞</a>赞，获得<a href="#">帮帮点</a>奖励6点</span>
        <a class="pull-right" href="#">全部消息</a>
    </div>
    <div class="page-header">
        <h2>用户登录</h2>
    </div>   
    <main class="col-sm-5 col-xs-12">
        <form method="post" action="#">
            <div class="form-group">
                <label for="name">用户名：（* 必填）</label> <br />
                <input type="text" id="name" class="form-control" placeholder="  不是昵称，是登录用户名" value="" />
            </div>
            <div class="form-group">
                <label for="password">密码：（* 必填）</label> <br />
                <input type="text" id="password" class="form-control" placeholder="  不少于4位" value="" />
            </div>
            <div class="form-group">
                <label for="confirmCode">验证码：（* 必填）</label> <br />            
               <input type="text" id="confirmCode" class="form-control" value="" />                          
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">提交</button>
                <label style="font-size:15px;margin:10px;">
                    <input type="checkbox" />记住我
                </label>
                    <span class="forget" style="margin:10px;">
                        <a href="#">(｡ŏ_ŏ) 忘了</a>
                        <a href="~/home/Register">注册</a>
                    </span>
                
            </div>
        </form>
    </main>
    <aside class="col-sm-6 col-xs-12">
        <h3 class="text-info">说 明</h3>
        <ol type="1">
            <li>我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。</li>
            <li>现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？</li>
            <li>当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
            <li>公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。</li>
            <li>赶快加入我们，赚取帮帮币吧！</li>
        </ol>
    </aside>
</div>

