
@{
    Layout = "_Layout";
}

<div id="problem">
    <div class="message">
        <span>文章的评论<a href="#">深有感触，学了数据结构感觉整个人很懵逼</a>被<a href="#">叶飞</a>赞，获得<a href="#">帮帮点</a>奖励6点</span>
        <a href="#">全部消息</a>
    </div>
    <main class="col-8" id="problem-main">
        <form action="#" post="#">
            <div id="display-none">
                <label><span>不显示</span></label>
                <label><input type="checkbox" />已酬谢</label>
                <label><input type="checkbox" />已撤销</label>
                <label><input type="checkbox" />协助中</label>
            </div>
            <div id="display-only">
                <label><span>只显示</span></label>
                <label><input type="checkbox" />我的关注</label>
                <label><input type="checkbox" />有总结</label>
            </div>
        </form>
        <div class="flex-container">
            <div class="problem-time-questioner">
                <span>2019年5月14日 08点40分</span>
                <a href="#">瓜皮弟子头很铁</a>
            </div>
            <div class="problem-status flex-item">
                <span>待协助</span>
                <a class="problem-name" href="#">System.IndexOutOfRangeException”类型的异常在 System.Data.dll 中发生，但未在用户代码中进行处理 在位置 5 处没有任何行。</a>
            </div>
            <div class="problem-content">
                <span>
                    protected void GridView1_RowCommand(object sender, GridViewCommandEventArgs e){OrderBLL orderbll = new OrderBLL();fruitdataset.OrderDetailsDataTable or = orderbll.GetOrder
                    DetailsByOrderID(Convert.ToInt32(e.CommandArgument));fruitdataset.OrdersDataTable ll
                </span>
                <a href="#">......</a>
            </div>
            <p>
                <span title="已使用234次">编程开发语言</span>
                <span title="已使用94次">C#</span>
            </p>
            <div class="problem-result">
                <span>悬赏：10</span>
                <a href="#">应答:0</a>
                <a href="#">总结：0</a>
            </div>
            <div>
                <hr />
            </div>
        </div>


        <div class="flex-container">
            <div class="problem-time-questioner">
                <span></span>
                <a href="#"></a>
            </div>
            <div class="problem-status">
                <span>已撤销</span>
                <a class="problem-name" href="#">winform视频通信程序卡顿</a>
            </div>
            <div problem-content></div>
            <p></p>
            <div class="problem-result">
                <span>悬赏：8</span>
                <a href="#">应答：0</a>
                <a href="#">总结：0</a>
            </div>
            <div class="problem-divider">
                <hr />
            </div>
        </div>


        <div class="flex-container">
            <div class="problem-time-questioner">
                <span></span>
                <a href="#"></a>
            </div>
            <div class="problem-status">
                <span>已撤销</span>
                <a class="problem-name" href="#">winform视频通信程序卡顿</a>
            </div>
            <div problem-content></div>
            <p></p>
            <div class="problem-result">
                <span>悬赏：8</span>
                <a href="#">应答：0</a>
                <a href="#">总结：0</a>
            </div>
            <div class="problem-divider">
                <hr />
            </div>
        </div>

        <div class="flex-container">
            <div class="problem-time-questioner">
                <span></span>
                <a href="#"></a>
            </div>
            <div class="problem-status">
                <span>已撤销</span>
                <a class="problem-name" href="#">winform视频通信程序卡顿</a>
            </div>
            <div problem-content></div>
            <p></p>
            <div class="problem-result">
                <span>悬赏：8</span>
                <a href="#">应答：0</a>
                <a href="#">总结：0</a>
            </div>
            <div class="problem-divider">
                <hr />
            </div>
        </div>

        <div class="flex-container">
            <div class="problem-time-questioner">
                <span></span>
                <a href="#"></a>
            </div>
            <div class="problem-status">
                <span>已撤销</span>
                <a class="problem-name" href="#">winform视频通信程序卡顿</a>
            </div>
            <div problem-content></div>
            <p></p>
            <div class="problem-result">
                <span>悬赏：8</span>
                <a href="#">应答：0</a>
                <a href="#">总结：0</a>
            </div>
            <div class="problem-divider">
                <hr />
            </div>
        </div>

        <nav>
            <ul class="pagination">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li><a href="#">10</a></li>
                <li><a href="#">&gt;&gt;</a></li>
            </ul>
        </nav>
    </main>
    <aside class="col-4 problem-aside">
        
        <div class="keywords">
            <h2>关键字</h2>
            <hr />
            <div>
                <a href="#" title="已使用234次">编程开发语言</a>
                <a href="#" title="已使用97次">C#</a>
                <a href="#" title="已使用79次">JAVA</a>
                <a href="#" title="已使用75次">工具软件</a>
                <a href="#" title="已使用62次">Javascript</a>
                <a href="#" title="已使用53次">顾问咨询</a>
                <a href="#" title="已使用44次">Html</a>
                <a href="#" title="已使用38次">VisualStudio</a>
                <a href="#" title="已使用34次">操作系统</a>
                <a href="#" title="已使用25次">SQL</a>
                <a href="#" title="已使用28次">职场</a>
                <a href="#" title="已使用23次">法律</a>
                <a href="#" title="已使用18次">Python</a>
                <a href="#" title="已使用14次">.net</a>
                <a href="#" title="已使用13次">css</a>
                <a href="#" title="已使用12次">JSP</a>
            </div>
            <hr />
            <div>
                <span id="keywords-query">
                    <input type="text" placeholder=" 直接输入关键字查找" />
                    <span>查询</span>
                </span>
                <a href="#">
                    <span>换一批</span>
                </a>
            </div>
        </div>
        <div class="infobar">
            <ul>
                <li><a href="#">每日督促</a></li>
                <li><a href="#">排行榜</a></li>
                <li><a href="#">新注册</a></li>
            </ul>
            <table>
                <tr>
                    <td colspan="2"> <span>2019年05月17日</span></td>
                </tr>
                <tr>
                    <td><strong>共扫描目标：</strong></td>
                    <td>3个</td>
                </tr>
                <tr>
                    <td><strong>当天休息：</strong></td>
                    <td>0人</td>
                </tr>
                <tr>
                    <td><strong>已交作业</strong></td>
                    <td>0份</td>
                </tr>
                <tr>
                    <td><strong>未交作业</strong></td>
                    <td>3人</td>
                </tr>
            </table>
        </div>
        <div class="fine-article">
            <span>精品文章</span>
            <hr />
            <p><a href="#">源栈培训：前端-5-Bootstrap.js和css动画</a></p>
            <p><a href="#">程序员所积累的编程知识在10年后有多少将变得没用？</a></p>
            <p><a href="#">为什么越努力就越变得焦虑，为什么努力不能变得快乐？</a></p>
            <p><a href="#">源栈培训：前端：JQuery</a></p>
            <p><a href="#">怎样才能从英语很糟糕的人变成英语很厉害的人？</a></p>
        </div>
        <div class="advertising">
            <ol>
                <li>免费广告位，抢到就是赚到</li>
                <li>免费广告位，抢到就是赚到</li>
                <li>免费广告位，抢到就是赚到</li>
                <li>免费广告位，抢到就是赚到</li>
                <li>免费广告位，抢到就是赚到</li>
                <li>本站主机由<a href="http://www.west.cn/index.asp?ReferenceID=563969">西部数码提供</a></li>
            </ol>
        </div>
    </aside>
</div>